# Arquivos Pessoais e Logs
aws_deployment_guide_personal.md
cloudformation describe-stack-events \
extracted_pdf.txt
policies.txt
localstack

# Variáveis de ambiente e secrets
.env
*.pem
*.key

# Dependencias locais e Caches
__pycache__/
*.pyc
.pytest_cache/
node_modules/
.venv/
venv/
.DS_Store

k8s/keda/
k8s/secrets/